/*
    adds the three hamburger lines
*/
.hamburger:after, 
.hamburger:before,
.bar {
    content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

/*
    rotates the top and bottom bars to cross
*/
.hamburger.is-open:before {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-open:after {
    transform: rotate(45deg) translate(-8px, -8px);
}

/*
    hides the middle bar when the other two bars cross
*/
.hamburger.is-open .bar {
    opacity: 0;
}