.mobile-header {
    position:fixed;
    z-index: 2;
    width: 100%;
    top:0;
    left: 100%;
    min-height: 100vh;    
    background-color: var(--zinc-dark);                
    transition: 0.4s;
    padding: 110px;
}

.mobile-header.is-open {
	left: 0;
}