.hero {
    height: calc(100vh - 61px);
}

.social-connect {
    min-height: 36px;
}

.greeting-text {
    min-height: 2.5rem;    
    border-right: 3px solid var(--portfolio-orange);

}

.greeting-text.cursor {
    animation: 
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}