@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

#082032 - darkest
#2C394B - dark
#334756 - lighter
#FF4C29 - orange

*/

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  --orange: FF4C29
}
