@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

#082032 - darkest
#2C394B - dark
#334756 - lighter
#FF4C29 - orange

*/

:root {
  --navbar-height:61px;
  --zinc-dark:rgb(39 39 42);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* --orange: FF4C29; */

}

.profile-hero {
  background: url("/static/images/texture.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100%; */
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  color: black;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .profile-hero {
    background:none;
  }
}